.wrapper{
    margin: auto auto auto auto;
    width: 800px;
}

.img-jump{
    width: 800px;
}

h1{
    font-size: 48px;
    font-family: Helvetica;
    position: center;
    text-align: center;
    color: white;
}

h2 {
    font-size: 18px;
    font-family: Helvetica;
    position: center;
    text-align: center;
    color: white;
}

body{
    background-image: url("images/sunset.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

